body {
  background-image: url("../images/runway.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Andika', 'Arial', sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

#content {
  margin: 3em auto;
  padding: 3em;
  position: relative;
  box-shadow: 0px 0px 8px #7e7e7e;
  border: solid 5px #4b1259;
  border-radius: 1em;
  text-align: center;
  background: rgba(206, 76, 238, 0.45);
  max-width: 800px;
}

h1 {
  color: white;
  font-size: 2em;
  padding: 1em 0;
  margin: 0;
}

p {
  color: white;
  padding-bottom: 0.5em;
}

ol li {
  list-style-type: none;
}

#input-name,
#input-email,
#input-phone {
  color: white;
  padding: 0.6em 0;
  text-align: left;
}

#input-name label,
#input-email label,
#input-phone label {
  font-weight: bold;
}

#input-name input,
#input-email input,
#input-phone input {
  box-sizing: border-box;
  margin: 0.4em 0;
  width: 100%;
  padding: 0.6em;
}

#input-submit-container {
  position: relative;
  margin-top: 20px;
}

#input-submit {
  padding: 0.8em;
  margin-top: 20px;
  opacity: 0.8;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 70%;
  font-weight: bold;
}

#submit {
  padding: 0.8em;
  border-radius: 0.4em;
  font-family: 'Andika', 'Arial', sans-serif;
  font-size: 0.8em;
  margin-left: 200px;
  margin-top: -10px;
}

#submit:hover {
  background-color: #4b1259;
  color: white;
  transition: 0.3s;
}

@media (max-width: 899px) {
  #content {
    width: 70%;
    padding: 2em;
  }
  
  #input-submit {
	position: static;
}

@media (max-width: 599px) {
  #content {
    width: 90%;
    padding: 1em;
  }
  
  h1 {
    font-size: 1.5em;
  }
  
  #input-submit {
    width: 70%;
    margin: 20px auto;
	position: static;
  }
}
